accelerate==1.8.1
datasets==3.2.0
deepspeed==0.16.4
evaluate==0.4.3
huggingface-hub==0.31.2
nltk==3.9.1
numpy==1.24.0
packaging==24.2
pandas==2.2.3
peft==0.15.2
protobuf==5.29.3
pyarrow==19.0.0
scikit-learn==1.6.1
scipy==1.15.1
sentencepiece==0.2.0
tensorboard==2.19.0
tokenizers==0.21.0
torch==2.7.1
transformers==4.51.0